body {
	font-size: 0.9rem !important;

}

.btn {
	padding: 5px 10px !important;
	letter-spacing: .05em !important;
}

#loginformbutton,#registerbuttonbutton {
	color:#444 !important;
}
#loginformbutton:Hover,#registerbuttonbutton:hover {
	color: #000 !important;
}
#loginformbutton.active,#registerbuttonbutton.active {
	color: #000 !important;
	font-weight:bold;
}

.pagestitle {
	margin-top:15%;
}
.pagestitle h1{
	font-size: 4rem !important;
}


@media (max-width: 850px) {
	.pagestitle {
		margin-top:35%;
	}
}

@media (min-width: 900px) {
	.pagestitle {
		margin-top: 12%;
	}
}

.pagestitle h1 {
	font-size:2rem !important
}

.profilelink {
	font-size: 18px;
	text-transform: uppercase;
	font-weight:bold;
	color:#888;
	line-height:35px;
	display:block;
	padding:5px 10px
}
.profilelink.active {
	color: #c7180c;
	background:#e8e8e8;
}


	.starrating > input {
	display: none;
}  /* Remove radio buttons */

.starrating > label:before {
	content: "★ "; /* Star */
	margin: 2px;
	font-size: 1em;
	display: inline-block;
}

.starrating > label
{
	color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{
	color: #ffca08 ;
} /* Set yellow color when star checked */

.starrating > input:hover ~ label
{
	color: #ffca08 ;
} /* Set yellow color when star hover */



@media (min-width: 1200px) {
	.site-block-half .text {
		padding: 3rem !important;
	}
}
.rating {
	float: left;
	border: none;
}
.rating:not(:checked) > input {
	position: absolute;
	top: -9999px;
	clip: rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
	float: right;
	width: 1em;
	padding: 0 .1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 200%;
	line-height: 1.2;
	color: #ddd;
}

.rating:not(:checked) > label:before {
	content: '★ ';
}
.rating > input:checked ~ label {
	color: #f70;
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
	color: #ea0;
}
.rating > label:active {
	position: relative;
}